.content {
  background: #060B18;
  min-height: 100vh;
}

.aboutContainer,
.galleryContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContainer {
  margin-bottom: 50px;
}

.aboutContainer {
  margin-bottom: 0;
}

.overlayWrapper {
  position: relative;
}
