
/* styles/AboutMe.module.css */
.hero {
  position: relative;
  width: 100vw;
  height: 80vh;
  min-height: 600px;
  opacity: 0;
  transform: translateY(20px);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url('/images/AboutBackground.jpeg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.heroTitle {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 30vh;
}

.contentContainer {
  display: flex;
  background: rgb(135,147,162);
  background: linear-gradient(180deg, rgb(218, 228, 242) 0%, rgb(234, 236, 239) 18%, rgba(255,255,255,1) 50%, rgba(234, 236, 239,1) 78%, rgb(235, 240, 246) 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  margin: auto;
  z-index: 2;
  width: 80%;
  padding: 3rem;
  margin-top: 0px;
}

.descriptionHide {
  display: none;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  align-items: flex-start;
  text-align: center;
}

@media (max-width: 950px) {
  .contentWrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .contentContainer {
    margin-top: 80px;
  }
  .description {
    text-align: center;
  }

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .heroTitle {
    margin: 20px;
    font-size: 3rem;
    padding-top: 325px;
  }

  .hero {
    margin-top: -20px;
  }

  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url('/images/AboutBackground.jpeg');
    background-size: cover;
    background-position:0%;
  }
}

.textContent {
  flex: 1;
  text-align: left;
}

.imageContainer {
  flex-shrink: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

@media (max-width: 768px) {
  .imageContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .hero {
    height: 60vh;
  }
  
  .heroTitle {
    padding-top: 250px;
  }

  .contentContainer {
    width: 90%;
  }
  
}

.profileImage {
  margin-right: 12px;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #2d3748;
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
  color: #4a5568;

}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slideUp {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 0.3s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}