.background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #060B18;
  overflow-x: hidden;
}

.contactFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
