.contactForm {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 
      0px 0px 10px 1px rgb(208, 208, 208);
    margin-top: 2vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(214, 214, 214, 0.9));
    /* Add your desired styles for the contact form container */
  }


  
.sectionContainer {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
}

.container {
  margin-top: 25vh;
  display: flex;
    flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  color: black;
  background: transparent; 
  
}

  .head {
    box-shadow: 
      0px 0px 10px 1px rgb(208, 208, 208);
    margin-top: 9vh;
    margin-bottom: 4vh;
    background-image: linear-gradient(to bottom, rgba(25, 95, 227, 1), rgba(22, 74, 171, 1));
    border-radius: 15px;
    height: 120px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.contactHeader {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 2px 2px 12px black;
    font-size: 32px;
    height: 120px;
}

.formHead {
  margin-bottom: 5vh;
}

  .formGroup {
    color: black;
    margin-bottom: 1rem;
    width: 80%;
    margin-bottom: 5vh;
  }

  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(25, 95, 227);
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 2px 2px 12px black;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 
      0px 0px 5px 1px black;
    transition: transform 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
    text-shadow: 2px 2px 12px black;
  }
  
  .button:hover {
    transform: translateY(-3px);
    background-color: rgb(54, 114, 224);
  }
  
  
  .invalid {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .sectionContainer {
      
      margin-bottom: 170px;
    }

    .contactForm, .head {
      width: 80vw;
    } 
    .contactForm {
      margin-bottom: 10vh;
    }
      
  .button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  }