.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: transparent;
    height: 25vh;
  }

  .blog {
    display: none;
  }
  
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }
  
  .socialMedia a {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .socialMedia a:hover {
    transform: translateY(-5px);
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    gap: .75vw;
  }
  
  .link {
    font-size: 20px;
    font-weight: 800;
    color: white;
  text-shadow: 4px 4px 8px black;
    margin: 0 10px;
    transition: color 0.5s ease-in-out;
  }
  
  .link:hover {
    color: rgb(216, 191, 113);
    cursor: pointer;
    transform: translateY(-2px);
  }
  
  .name {
    text-align: center;
    cursor: pointer;
  }
  
  .name p {
    font-size: 16px;
    color: white;
  text-shadow: 4px 4px 8px black;
    transition: color 0.3s ease-in-out;
  }
  
  .name p:hover {
    color: rgb(216, 191, 113);
  }

  .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
  }
  .floating1 { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 4.8px); }
    100%   { transform: translate(0, -0px); }   
  }

  .floating1 { 
    animation-name: floating;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5.3px); }
    100%   { transform: translate(0, -0px); }   
  }

  .floating2 { 
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 4.9px); }
    100%   { transform: translate(0, -0px); }   
  }

    .floating3 { 
    animation-name: floating;
    animation-duration: 4.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5.8px); }
    100%   { transform: translate(0, -0px); }   
  }

    .floating4 { 
    animation-name: floating;
    animation-duration: 5.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating4 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5.2px); }
    100%   { transform: translate(0, -0px); }   
  }
  

  @media (max-width: 768px) {
    .link {
      font-size: 18px;
    }
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }