.cardContainer {

    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center; /* Horizontally center items */
    align-items: center;   /* Vertically center items */
    gap: 8.5vw;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
  }
  
  .card {
    width: 400px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 8px 3px rgba(255,255,255,0.6);
    color: white;
  }
  
  .cardInner {
    color: white;
    text-align: center;
    width: 100%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card:hover .cardInner {
    transform: rotateY(180deg);
  }
  
  .cardFront,
  .cardBack {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .cardFront {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-shadow: 1px 2px 4px black;
  }
  
  .cardBack {
    max-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotateY(180deg);
    padding: 30px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 2px 4px black;
    line-height: 2.5;
    color: white;
  }
  
  .image {
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 800;
    text-shadow: 1px 2px 4px black;
    color: white;
  }



  


  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
  }

  @media (max-width: 1600px)  {
    .cardContainer {
      gap: 75px;
  
      }

      .card {
        width: 25vw;
      }

}


@media (max-width: 1400px)  {

    .card {
    width: 35vw;

    }

.cardContainer {

  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  justify-items: center; /* Horizontally center items */
  align-items: center;   /* Vertically center items */
  gap: 12.5vw;
  margin-top: 100px;
  margin-bottom: 100px;
}

}


@media (max-width: 1000px)  {

  .cardContainer {
    margin-bottom: 150px;
    margin-top: 150px;
  }

  .card {
    width: 350px;
  }
  
  }


@media (max-width: 900px)  {

  .cardContainer {
  
    gap: 5vw;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
  }

  .card {
    width: 55vw;
    height: auto;
    margin-bottom: 50px;
  }

  .title {
    margin-top: 0px;
    font-size: 24px;
  }
  .image {
    margin-bottom: 20px;
  }
  
  }


  @media (max-width: 475px)  {

    .image {
      
      width: 80%;
      height: auto;

  }

    .title {
      font-size: 16px;
    }

    .cardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 5vw;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(6,1fr);
    }
  
    .card {
      margin: auto;
      width: 70vw;
      height: 350px;
      margin-bottom: 50px;
    }

    .cardBack {
      line-height: 2;
      font-size: 17px;
      font-weight: 500;
      padding: 20px;
      height: 100%;
    }

    .cardInner {
      height: 350px;
    }

    .image {
      margin-bottom: 0px;
    }
    
    }
